<div class="container-fluid pt-5">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <ng-container *ngFor="let form of formMenu; index as i">
                    <button class="list-group-item list-group-item-action" [ngClass]="{'active': i === currentFormSelection}" (click)="loadForm(form, i)">
                        {{form.formTitle}}
                      </button>
                </ng-container>
            </div>
        </div>
        <div class="col-md-9">
            <app-dynamic-reactive-forms-v2 *ngIf="form" [formInputData]="form" [currentFormSequence]="currentFormSelection" (nextFormSequenceEvent)="onNextFormSequence($event)"></app-dynamic-reactive-forms-v2>
        </div>
    </div>
</div>
