<div class="container-fluid py-6">
    <div class="order-card card">
        <div class="card-body">
            <div class="d-flex justify-content-between mb-6">
                <h3 class="t-18 mb-0">General Information</h3>
                <div>
                    <span class="required-field"></span>
                    <span>Indicates a required field</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label class="required-field" for="loanNumber">Client search</label>
                    <input id="loanNumber" placeholder="Search by client number or LSCI" class="form-control" type="number">
                </div>
                <div class="col-md-2 mb-4">
                    <label class="required-field" for="loanNumber">Client Name</label>
                    <input id="loanNumber" class="form-control" type="number" readonly>
                </div>
                <div class="col-md-2 mb-4">
                    <label class="required-field" for="client">Client Number</label>
                    <input id="loanNumber" class="form-control" type="number" readonly>
                </div>
                <div class="col-md-2 mb-4">
                    <label class="required-field" for="client">LSCI</label>
                    <input id="loanNumber" class="form-control" type="number" readonly>
                </div>
                <div class="col-md-2 mb-4">
                    <label class="required-field" for="loanNumber">Loan Number</label>
                    <input id="loanNumber" class="form-control mb-2" type="number">

                    <a href="#" class="link-underline-primary">
                        Similar loan 
                        <span class="icon-box-arrow-top-right" aria-hidden="true"></span>
                    </a>
                </div>
                <div class="col-md-2 mb-4">
                    <label class="required-field" for="client">Loan Type</label>
                    <input id="loanNumber" class="form-control" type="number">
                </div>
                <div class="col-md-2 mb-4">
                    <label class="required-field" for="client">Investor/Insurer</label>
                    <input id="loanNumber" class="form-control" type="number">
                </div>
                <div class="col-md-2 mb-4">
                    <label class="required-field" for="loanNumber">First name</label>
                    <input id="loanNumber" class="form-control" type="number">
                </div>
                <div class="col-md-2 mb-4">
                    <label for="client">Middle name</label>
                    <input id="loanNumber" class="form-control" type="number">
                </div>
                <div class="col-md-2 mb-4">
                    <label class="required-field" for="client">Last name</label>
                    <input id="loanNumber" class="form-control" type="number">
                </div>
                <div class="col-md-2 mb-4">
                    <label class="required-field"  for="loanNumber">Address 1</label>
                    <input id="loanNumber" class="form-control" type="number">
                </div>
                <div class="col-md-2 mb-4">
                    <label for="client">Address 2</label>
                    <input id="loanNumber" class="form-control" type="number">
                </div>
                <div class="col-md-2 mb-4">
                    <label class="required-field" for="client">Zip</label>
                    <input id="loanNumber" class="form-control" type="number">
                </div>
                <div class="col-md-2 mb-4">
                    <label class="required-field" for="client">City</label>
                    <input id="loanNumber" class="form-control" type="number">
                </div>
                <div class="col-md-2 mb-4">
                    <label class="required-field" for="client">State</label>
                    <input id="loanNumber" class="form-control" type="number">
                </div>
                <div class="col-md-2 mb-4">
                    <label for="client">County</label>
                    <input id="loanNumber" class="form-control" type="number">
                </div>
            </div>
        </div>
        <div class="card-body">
            <h3 class="t-18 mb-6">Product Information</h3>
            <div class="row">

                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-3 mb-4">
                            <label class="required-field" for="productCategory">Product Category</label>
                            <select id="productCategory" class="form-select">
                                <option>Option 1</option>
                            </select>
                        </div>
                        <div class="col-md-3 mb-4">
                            <label class="required-field" for="productType">Product</label>
                            <select id="productType" class="form-select">
                                <option>Option 1</option>
                            </select>
                        </div>
                        <div class="col-md-3 mb-4">
                            <label class="required-field" for="productType">Department</label>
                            <select id="productType" class="form-select">
                                <option>Option 1</option>
                            </select>
                        </div>
                        <div class="col-md-3 mb-4">
                            <label  for="productType">Manual Vendor Assignment</label>
                            <select id="productType" class="form-select">
                                <option>Option 1</option>
                            </select>
                        </div>
                        <div class="col-md-3 mb-4">
                            <div class="form-check">
                                <input type="checkbox" id="offCheckbox" class="form-check-input">
                                <label for="offCheckbox" class="form-check-label">QC Review</label>
                            </div>
                        </div>
                        <div class="col-md-3 mb-4">
                            <div class="form-check">
                                <input type="checkbox" id="offCheckbox" class="form-check-input">
                                <label for="offCheckbox" class="form-check-label">Is Rush</label>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="form-check">
                                <input type="checkbox" id="offCheckbox" class="form-check-input">
                                <label for="offCheckbox" class="form-check-label">Do not send to Client system of Record</label>
                            </div>
                        </div>
                        <div class="col-md-3 mb-4">
                            <div class="form-check">
                                <input type="checkbox" id="offCheckbox" class="form-check-input">
                                <label for="offCheckbox" class="form-check-label">Do not convert Product</label>
                            </div>
                        </div>
                        <div class="col-md-3 mb-4">
                            <div class="form-check">
                                <input type="checkbox" id="offCheckbox" class="form-check-input">
                                <label for="offCheckbox" class="form-check-label">Do not check for Duplicates</label>
                            </div>
                        </div>
                        <div class="col-md-3 mb-4">
                            <div class="form-check">
                                <input type="checkbox" id="offCheckbox" class="form-check-input">
                                <label for="offCheckbox" class="form-check-label">Do not Pay Vendor</label>
                            </div>
                            <div>
                                <label for="productType">Do not Pay Vendor reason</label>
                                <select id="productType" class="form-select">
                                    <option>Option 1</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 mb-4">
                            <div class="form-check">
                                <input type="checkbox" id="offCheckbox" class="form-check-input">
                                <label for="offCheckbox" class="form-check-label">Do not Pay Vendor</label>
                            </div>
                            <div>
                                <label for="productType">Do not Pay Vendor reason</label>
                                <select id="productType" class="form-select">
                                    <option>Option 1</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="productType">Instructions</label>
                    <textarea class="form-control" rows="6"></textarea>
                </div>
            </div>
        </div>
        <div class="card-body">
            <h3 class="t-18 mb-6">Documents</h3>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <!-- <label for="formFile" class="form-label">Default file input example</label> -->
                    <!-- <input class="form-control" type="file" id="formFile"> -->

                    <div>
                        <button type="button" class="form-control text-center h-100 pt-3 pb-4 file-upload-section">
                            <div  class="py-5">
                                <span  aria-hidden="true" class="icon-upload p-1 file-icon-upload-border fw-bold"></span>
                            </div>
                            <label class="text-decoration-none">
                                <span class="mr-1">Drag here or </span><span class="text-primary font-weight-bold mr-1">browse</span><span>to upload</span></label>
                        </button>
                        <input  hidden="" type="file" id="fileUploadInput" accept=".pdf,.docx,.xlsx,.txt">
                    </div>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-md-6 mb-4">
                    <label class="required-field" for="productType">Special Instructions</label>
                    <textarea class="form-control" rows="3"></textarea>
                </div>
                <div class="col-md-2 mb-4">
                    <label class="required-field" for="recommendedVendor">Document Type</label>
                    <select id="recommendedVendor" class="form-select">
                        <option>Option 1</option>
                    </select>
                </div>
                <div class="col-md-2 mb-4">
                    <label class="required-field" for="recommendedVendor">Document Name</label>
                    <select id="recommendedVendor" class="form-select">
                        <option>Option 1</option>
                    </select>
                </div>
            </div> -->
        </div>
    </div>
</div>