<div class="container pt-5">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Reactive Dynamic Form</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <ng-container *ngFor="let question of formQuestions; i as index">
                        
                        <ng-container *ngIf="['text', 'date', 'number'].includes(question.FieldType)">
                            <div class="col-md-4 mb-4">
                                <label [ngClass]="question.IsRequired? 'required-field' : '' ">{{question.QuestionText}} - {{question.QuestionId}} </label>
                                <input class="form-control" [type]="question.FieldType" [formControlName]="question.QuestionId" [value]="question.Answers[0].AnswerId">
                            </div>
                        </ng-container>
                        <ng-container *ngIf="question.FieldType === 'radio'">
                            <label [ngClass]="question.IsRequired? 'required-field' : '' ">{{question.QuestionText}} - {{question.QuestionId}}</label>
                            <div class="col-md-4 mb-4">
                                <ng-container  *ngFor="let radioQuestion of question['Answers']">
                                    <div class="form-check form-check-inline">
                                        <input type="radio" [id]="radioQuestion.AnswerId" [formControlName]="question.QuestionId" [value]="radioQuestion.AnswerText" (change)="onRadioButtonChange($event, question)" class="form-check-input">
                                        <label [for]="radioQuestion.AnswerId"  class="form-check-label">
                                            {{radioQuestion.AnswerText}}
                                        </label>
                                      </div>
                                </ng-container>
                            </div>
                            <ng-container *ngFor="let radioSubQuestion of radioSubQuestionObject">
                                <div class="col-md-4 mb-4">
                                    <label [ngClass]="radioSubQuestion.IsRequired? 'required-field' : '' ">{{radioSubQuestion.QuestionText}} - {{radioSubQuestion.QuestionId}}</label>
                                    <input class="form-control" [type]="radioSubQuestion.FieldType" [formControlName]="radioSubQuestion.QuestionId" >
                                </div>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary" type="submit" >Submit</button>
                {{myForm.invalid}}
                <!-- [disabled]="myForm.invalid" -->
            </div>
        </div>
    </form>
</div>

<!-- {{myForm.controls['Inspection Date 1:'].status}} -->