<div class="container pt-5">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Reactive Dynamic Form</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <ng-container *ngFor="let rootQuestion of formQuestions; index as i">
                        
                        <ng-container *ngIf="['text', 'date', 'number'].includes(rootQuestion.uiControlType)">
                            <div class="col-md-4 mb-4">
                                <label [for]="unitId + '-' + rootQuestion.questionId" [ngClass]="rootQuestion.isRequired? 'required-field' : '' ">{{rootQuestion.questionText}} - {{myForm.get(unitId + '-' + rootQuestion.questionId).invalid}}  </label>
                                <input [id]="unitId + '-' + rootQuestion.questionId" class="form-control" [ngClass]="myForm.get(unitId + '-' + rootQuestion.questionId).invalid? 'is-invalid' : '' "  [type]="rootQuestion.uiControlType" [formControlName]="unitId + '-' + rootQuestion.questionId">
                                <div class="invalid-feedback d-block" *ngIf="myForm.get(unitId + '-' + rootQuestion.questionId).invalid && myForm.get(unitId + '-' + rootQuestion.questionId).touched">Please fill out this field.</div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="rootQuestion.uiControlType === 'select'">
                            <div class="col-md-4 mb-4">
                                <label [for]="unitId + '-' + rootQuestion.questionId" [ngClass]="rootQuestion.isRequired? 'required-field' : '' ">{{rootQuestion.questionText}} - {{unitId + '-' + rootQuestion.questionId}}  </label>
                                <select [id]="unitId + '-' + rootQuestion.questionId" class="form-select" [ngClass]="myForm.get(unitId + '-' + rootQuestion.questionId).invalid? 'is-invalid' : '' " [formControlName]="unitId + '-' + rootQuestion.questionId">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>
                                <div class="invalid-feedback d-block" *ngIf="myForm.get(unitId + '-' + rootQuestion.questionId).invalid && myForm.get(unitId + '-' + rootQuestion.questionId).touched">Please fill out this field.</div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="rootQuestion.uiControlType === 'radio'">
                            <div class="col-md-4 mb-4">
                                <label [ngClass]="rootQuestion.isRequired? 'required-field' : '' ">{{rootQuestion.questionText}} - {{unitId + '-' + rootQuestion.questionId}}</label>
                                <ng-container  *ngFor="let radioQuestion of rootQuestion.answers">
                                    <div class="form-check form-check-inline ">
                                        <input type="radio" [id]="radioQuestion.answerId" [formControlName]="unitId + '-' + rootQuestion.questionId" [value]="radioQuestion.answerText" (change)="onRadioButtonChange(i, rootQuestion, radioQuestion.answerId)" class="form-check-input">
                                        <label [for]="radioQuestion.answerId"  class="form-check-label">
                                            <!-- {{radioQuestion.isChosenAnswer}} -->
                                            {{radioQuestion.answerText}}
                                        </label>
                                      </div>
                                </ng-container>
                                <div class="invalid-feedback d-block" *ngIf="myForm.get(unitId + '-' + rootQuestion.questionId).invalid">Please fill out this field.</div>
                            </div>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary" type="submit" >Submit</button>
                {{myForm.invalid}}
            </div>
        </div>
    </form>
</div>
