<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div *ngFor="let section of formData.sections">
    <h2>{{ section.sectionTitle }}</h2>
    <div *ngFor="let question of section.questions">
      <div *ngIf="question.uiControlType !== 'radio'; else radioQuestion">
        <label>{{ question.questionText }}</label>
        <div *ngIf="question.uiControlType === 'text' || question.uiControlType === 'date'">
          <input *ngIf="question.uiControlType === 'text'" type="text" [formControlName]="question.questionId" />
          <input *ngIf="question.uiControlType === 'date'" type="date" [formControlName]="question.questionId" />
        </div>
      </div>
      <ng-template #radioQuestion>
        <div *ngFor="let answer of question.answers">
          <label>{{ answer.answerText }}</label>
          <div *ngIf="answer.questions.length > 0">
            <div *ngFor="let nestedQuestion of answer.questions">
              <label>{{ nestedQuestion.questionText }}</label>
              <input type="text" [formControlName]="nestedQuestion.questionId" />
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
  <button type="submit">Submit</button>
</form>
